.Navigation {
    background-color: rgb(231, 228, 228);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 50px;
    font-size: 18px;
}

.navbar-brand {
    font-size: 18px;
}

.nav-link {
    color: #ee4444;
}

.nav-link:hover {
    color: #4D61FC
}

